body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin: 64px 0 64px 0;
  text-align: center;
}

h1{
  margin-bottom: 16px;
  text-align: center;
  color: #3F3D56;
  text-align: center;
  font-family: Dosis;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
p{
  color: #828282;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
}
span{
  color: #EE24FF;
font-family: Dosis;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p{
  margin: 0;
}
#p1{
  margin-bottom: 20px;
}
p:nth-child(5){
  text-align: center;
  margin-bottom: 32px;
}
#span2{
  color: #828282;
font-family: "Open Sans";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 22px;
}
strong{
  text-decoration: none;
  cursor: pointer;
  color: #3F3D56;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 147%; 
}

nav{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom:41px ;
}
ul{
  display: flex;
  gap:42px;
  
}
li{
  list-style: none;

}
a{
  text-decoration: none;
  cursor: pointer;
  color: #3F3D56;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.682%; /* 22.152px */
}
footer{
  text-align: center;
}